@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.text-gd{
  @apply bg-gradient-to-r from-[#ff9a9e] via-[#ff6b95] to-[#a855f7] bg-clip-text text-transparent
}

.h-main{
 @apply text-3xl font-bold  sm:text-3xl xl:text-[2.35rem]/none 
}
.text-mono{
  @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-gray-500 
}
.text-normal{
  @apply text-zinc-200 text-sm md:text-lg dark:text-zinc-100
}

